.line1 {
    height: 2px;
    background: gray;
}

.line2 {
    border: 2px solid red;
}

/* --------------------------------------------------------- */

.post-image {
    float: left;
}

.post-username {
    font-weight: bold;
}

/* --------------------------------------------------------- */

.item {
    background: skyblue;
    height: 50px;
    width: 50%;
}